*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
#right1{
    width: 50%;
    float: left;
    top: 0px;
    right: 0px;
    z-index: -1;
}
#left1{
    width: 50%;
    float: right;
    position: sticky;
    top: 0px;
}
.button{
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 25%;
    top: 90vh;
    a{
        color: #fff;
        text-decoration: none;
        padding-bottom: 5px;
    }
    a:hover{
        border-bottom: 2px #ffffff solid;
    }
}
.image{
    background-image: url(Hero.jpg);
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    p{
        color: #fff;
        text-align: center;
        font-size: 20px;
        padding-top: 10px;
    }
}
.about-cont{
    .about{
        display: flex;
        justify-content: space-evenly;
        .about-long{
            width: 50%;
            height: 100vh;
            background: #024768;
            p{
                color: #fff;
                font-size: 50px;
                text-align: center;
                padding-top: 100px;
            }
            .button-1{
                width: 70%;
                margin-left: 15%;
                margin-top: 35vh;
                display: flex;
                justify-content: space-evenly;
                a{
                text-align: center;
                font-size: 20px;
                color: #fff;
                text-decoration: none;
                padding-bottom: 5px;
                }a:hover{
                    border-bottom: 5px #f54952 solid;
                }
            }
        }
        .about-text{
            width: 50%;
            height: 110vh;
            margin-top: 10vh;
            p{
                text-align: left;
                font-size: 20px;
                margin-left: 5%;
            }
            h2{
                text-align: center;
            }
        }
    }
}
.profile-img{
    width: 50%;
    height: 60%;
    margin-left: 24%;
    margin-top: 1vh;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5%;
    }
}
.profile-img1{
    width: 50%;
    height: 60%;
    margin-left: 24%;
    margin-top: 1vh;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 5%;
    }
}
.images-cont{
    .images{
        display: flex;
        justify-content: space-evenly;
        .images-stay{
            width: 50%;
            img{
                width: 100%;
                height: 100vh;
                object-fit: contain;
                background-color: #000000;
            }
        }
        .images-scroll{
            width: 50%;
            height: 100vh;
            background-color: rgb(239 159 126);
            p{
                color: #fff;
                text-align: center;
                padding-top: 100px;
                font-size: 50px;
            }
            .button-1{
                width: 70%;
                margin-left: 15%;
                margin-top: 5vh;
                display: flex;
                justify-content: space-evenly;
                a{
                text-align: center;
                font-size: 20px;
                color: #fff;
                text-decoration: none;
                padding-bottom: 5px;
                }
                a:hover{
                    border-bottom: 5px #ffffff solid;
                }
            }
        }
    }
}
.images-cont1{
    .images{
        display: flex;
        justify-content: space-evenly;
        .images-stay{
            width: 50%;
            img{
                width: 100%;
                height: 100vh;
                object-fit: contain;
                background-color: #000000;
            }
        }
        .images-scroll1{
            width: 50%;
            height: 100vh;
            background-color: #2b8aa2;
            p{
                color: #fff;
                text-align: center;
                padding-top: 100px;
                font-size: 50px;
            }
            .button-1{
                width: 70%;
                margin-left: 15%;
                margin-top: 5vh;
                display: flex;
                justify-content: space-evenly;
                a{
                text-align: center;
                font-size: 20px;
                color: #fff;
                text-decoration: none;
                padding-bottom: 5px;
                }
                a:hover{
                    border-bottom: 5px #ffffff solid;
                }
            }
        }
    }
}
.contact-cont{
    .contact{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        .contact-left{
            width: 50%;
            background-color: #280659;
            p{
                color: #fff;
                text-align: center;
                padding-top: 100px;
                font-size: 50px;
            }
            .button-1{
                width: 70%;
                margin-left: 15%;
                margin-top: 50vh;
                display: flex;
                justify-content: space-evenly;
                a{
                text-align: center;
                font-size: 20px;
                color: #fff;
                text-decoration: none;
                padding-bottom: 5px;
                }
                a:hover{
                    border-bottom: 5px #ffffff solid;
                }
            }
        }
        .contact-right{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            .contact{
                .links{
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 5vh;
                    a{
                        color: #ae2d68;
                        font-size: 30px;
                    }
                }
            }
            .images-cont{
                width: 100%;
                height: 100%;
                p{
                    text-decoration: none;
                    text-align: center;
                    margin-bottom: 5vh;
                }
                img{
                    margin-left: 25%;
                    width: 50%;
                    height: 50%;
                    object-fit: contain;
                }
            }
            .medeelel{
                width: 100%;
                p{
                    color: #000000;
                    font-size: 20px;
                    text-align: center;
                    text-decoration: none;
                }
                a{
                    color: #8e17a0;
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
    }
}
.spacer{
    height: 5%;
}